@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #424551;
  line-height: 1;
  font-family: "Lato";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Lato";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 78.75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#FF3F3A), to(#F75E05)) left top/100% 1px no-repeat, -webkit-gradient(linear, left top, right top, from(#FF3F3A), to(#F75E05)) left bottom/100% 1px no-repeat;
  background: -o-linear-gradient(left, #FF3F3A 0%, #F75E05 100%) left top/100% 1px no-repeat, -o-linear-gradient(left, #FF3F3A 0%, #F75E05 100%) left bottom/100% 1px no-repeat;
  background: linear-gradient(to right, #FF3F3A 0%, #F75E05 100%) left top/100% 1px no-repeat, linear-gradient(to right, #FF3F3A 0%, #F75E05 100%) left bottom/100% 1px no-repeat;
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 10px;
}

.button::before {
  left: 0;
  border: 1px solid #FF3F3A;
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.button::after {
  right: 0;
  border: 1px solid #F75E05;
  border-left: none;
  border-radius: 0 4px 4px 0;
}

.button span {
  width: 100%;
  text-align: center;
  display: block;
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.5px;
  position: relative;
  padding: 16.5px 40px;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.button span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(34.05deg, #FF3F3A 0%, #F75E05 100%);
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  z-index: -1;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.button._fw {
  width: 100%;
}

.button--border span {
  color: #FF3F3A;
}

.button--border span::before {
  opacity: 0;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.block-header {
  color: #1E212C;
}

.block-header__label {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.block-header__label:not(:last-child) {
  margin-bottom: 8px;
}

.block-header__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3043478261;
}

.block-header--center {
  text-align: center;
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  line-height: 1.625;
}

.list__item:not(:last-child) {
  margin-bottom: 12px;
}

.list__item::before {
  content: "";
  width: 16px;
  height: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
  -webkit-transform: translate(0, 5px);
      -ms-transform: translate(0, 5px);
          transform: translate(0, 5px);
  background: url(../img/who-we-are/icons/check.svg) no-repeat;
}

.header {
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 220, 212, 0.9)), to(rgb(253, 222, 206)));
  background: -o-linear-gradient(rgba(255, 220, 212, 0.9) 0%, rgb(253, 222, 206) 100%);
  background: linear-gradient(rgba(255, 220, 212, 0.9) 0%, rgb(253, 222, 206) 100%);
}

.header__container {
  min-height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 10;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 36px;
     -moz-column-gap: 36px;
          column-gap: 36px;
  position: relative;
}

.menu__list {
  text-align: center;
}

.menu__item {
  font-weight: 700;
  line-height: 1.625;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.menu__item:hover {
  color: #FF3F3A;
}

.actions-header__login {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-weight: 700;
  line-height: 1.625;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.actions-header__login::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url(../img/header/Navbar/Person.svg) no-repeat;
}

.actions-header__login:hover {
  text-decoration: underline;
}

.icon-menu {
  display: none;
}

.page__createx {
  position: relative;
}

.createx {
  background: -o-linear-gradient(34.05deg, rgba(255, 64, 58, 0.2), rgba(247, 94, 5, 0.2));
  background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2), rgba(247, 94, 5, 0.2));
  overflow: hidden;
}

.createx__container {
  position: relative;
  z-index: 1;
}

.createx__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 44.79%;
  grid-template-columns: auto 44.79%;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.createx__body:not(:last-child) {
  margin-bottom: 30px;
}

.createx__showreel {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #1E212C;
  position: relative;
}

.createx__showreel:not(:last-child) {
  margin-bottom: 24px;
}

.createx__showreel::before {
  content: "";
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #FF3F3A url(../img/createx/icons/Polygon.svg) no-repeat center;
}

.createx__showreel::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgba(255, 64, 58, 0.9);
  -webkit-animation: pulse 1.5s ease alternate infinite;
          animation: pulse 1.5s ease alternate infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    opacity: 0.12;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    opacity: 0.12;
  }
}

.createx__showreel:hover {
  text-decoration: underline;
}

.createx__title {
  max-width: 496px;
  font-weight: 900;
  font-size: 64px;
  line-height: 1.296875;
  color: #1E212C;
}

.createx__title:not(:last-child) {
  margin-bottom: 60px;
}

.createx__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.createx__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.createx__image img {
  max-width: 103.8%;
  -webkit-transform: translate(3.8%, 0);
      -ms-transform: translate(3.8%, 0);
          transform: translate(3.8%, 0);
}

.createx__decor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.createx__statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 12px;
}

.statistics__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.statistics__item:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.statistics__item:not(:last-child)::after {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8px;
          flex: 0 0 8px;
  margin: 0 auto;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #FF3F3A;
}

.item-statistics {
  color: #1E212C;
}

.item-statistics__value {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3043478261;
}

.decor-createx__item {
  position: absolute;
}

.decor-createx__item--1 {
  background: url(../img/createx/createx__decor/shapes-1.svg) no-repeat;
  top: 12.3%;
  left: 4.27%;
  width: 96px;
  height: 96px;
}

.decor-createx__item--2 {
  background: url(../img/createx/createx__decor/circles.svg) no-repeat;
  bottom: -9.07%;
  left: -6.6%;
  width: 284px;
  height: 284px;
}

.decor-createx__item--3 {
  background: url(../img/createx/createx__decor/shapes-2.svg) no-repeat;
  top: -4%;
  right: 6.1%;
  width: 110px;
  height: 160px;
}

.decor-createx__item--4 {
  background: url(../img/createx/createx__decor/shapes-3.svg) no-repeat;
  top: 46%;
  left: 39%;
  width: 88px;
  height: 47px;
}

.decor-createx__item--5 {
  background: url(../img/createx/createx__decor/shapes-4.svg) no-repeat;
  bottom: 22%;
  left: 38%;
  width: 61px;
  height: 61px;
}

.decor-createx__item--6 {
  background: url(../img/createx/createx__decor/dots.svg) no-repeat;
  bottom: 18%;
  right: -1%;
  width: 187px;
  height: 137px;
}

.who-we-are {
  position: relative;
}

.who-we-are__container {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px 135px;
  position: relative;
  z-index: 2;
  -ms-grid-columns: 57.32% auto;
  grid-template-columns: 57.32% auto;
}

.who-we-are__image {
  border-radius: 4px;
  overflow: hidden;
}

.who-we-are__image img {
  max-width: 100%;
}

.who-we-are__block-header:not(:last-child) {
  margin-bottom: 40px;
}

.who-we-are__list {
  max-width: 390px;
}

.who-we-are__list:not(:last-child) {
  margin-bottom: 22px;
}

.who-we-are__button {
  font-size: 14px;
  line-height: 3.1428571429;
}

.who-we-are__button span {
  padding: 13.5px 32px;
}

.decor-who-we-are__item {
  position: absolute;
}

.decor-who-we-are__item--1 {
  background: url(../img/who-we-are/decor/dots.svg) no-repeat;
  top: 25%;
  left: 0%;
  width: 250px;
  height: 250px;
  opacity: 0.6;
}

.decor-who-we-are__item--2 {
  background: url(../img/who-we-are/decor/circles.svg) no-repeat;
  top: 52.2%;
  right: -8.5%;
  width: 287px;
  height: 287px;
}

.featured-courses__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  row-gap: 30px;
}

.featured-courses__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.featured-courses__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.featured-courses__item {
  overflow: hidden;
  border: 1px solid #E5E8ED;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 214px auto;
  grid-template-columns: 214px auto;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.featured-courses__item:hover {
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}

.item-courses__image {
  position: relative;
  padding-bottom: 35.666%;
  overflow: hidden;
}

.item-courses__image:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.item-courses__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.item-courses__body {
  padding: 32px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto 1fr;
  grid-template-rows: auto auto 1fr;
  justify-items: start;
  gap: 20px;
}

.body-courses__badge {
  padding: 1px 8px;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.body-courses__badge--bg-green {
  background-color: #03CEA4;
}

.body-courses__badge--bg-green:hover {
  background-color: #00997b;
}

.body-courses__badge--bg-blue {
  background-color: #5A87FC;
}

.body-courses__badge--bg-blue:hover {
  background-color: #2b5cd7;
}

.body-courses__badge--bg-orange {
  background-color: #F89828;
}

.body-courses__badge--bg-orange:hover {
  background-color: #d57405;
}

.body-courses__badge--bg-pink {
  background-color: #F52F6E;
}

.body-courses__badge--bg-pink:hover {
  background-color: #db2660;
}

.body-courses__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #1E212C;
}

.body-courses__link:hover {
  text-decoration: underline;
}

.body-courses__info {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 18px;
  line-height: 1.5;
}

.body-courses__price {
  font-weight: 700;
  color: #FF3F3A;
}

.body-courses__speaker {
  color: #787A80;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-courses__speaker::before {
  content: "";
  width: 1px;
  height: 16px;
  background-color: #787A80;
}

.body-courses__speaker:hover {
  text-decoration: underline;
}

.events {
  position: relative;
  overflow: hidden;
  background: -o-linear-gradient(34.05deg, rgba(255, 64, 58, 0.2), rgba(247, 94, 5, 0.2));
  background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2), rgba(247, 94, 5, 0.2));
}

.events__container {
  position: relative;
  z-index: 2;
}

.events__top:not(:last-child) {
  margin-bottom: 60px;
}

.events__content:not(:last-child) {
  margin-bottom: 60px;
}

.content-events {
  display: -ms-grid;
  display: grid;
  gap: 24px;
}

.content-events__item {
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  grid-auto-flow: row;
  gap: 40px;
}

.content-events__item:hover {
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
          box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}

.content-events__button {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.content-events__button span {
  padding: 12.5px 27px;
}

.item-events {
  padding: 32px 40px;
  background-color: #fff;
  border-radius: 4px;
}

.item-events__schedule {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  gap: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.item-events__number {
  font-weight: 900;
  font-size: 48px;
  line-height: 1.2916666667;
  letter-spacing: 1px;
  color: #FF3F3A;
}

.item-events__month {
  font-weight: 700;
  font-size: 20px;
  line-height: 2;
  color: #1E212C;
}

.item-events__month:not(:last-child) {
  margin-bottom: 4px;
}

.item-events__time {
  color: #787A80;
}

.item-events__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #1E212C;
}

.item-events__title:not(:last-child) {
  margin-bottom: 4px;
}

.item-events__link:hover {
  text-decoration: underline;
}

.item-events__subtitle {
  color: #787A80;
}

.bottom-events {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  width: 100%;
}

.bottom-events__text {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  color: #1E212C;
}

.decor-events {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.decor-events__item {
  position: absolute;
}

.decor-events__item--1 {
  bottom: 0.8%;
  left: 0.5%;
  background: url(../img/events/events-decor/dots.svg) no-repeat;
  width: 116px;
  height: 159px;
}

.decor-events__item--2 {
  top: -16.11%;
  right: -3.21%;
  background: url(../img/events/events-decor/circles.svg) no-repeat;
  width: 284px;
  height: 284px;
}

@media (min-width: 47.99875em) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .header__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    row-gap: 10px;
  }

  .actions-header {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

@media (min-width: 47.99875em) and (min-width: 76.875em) {
  .header__actions {
    -webkit-column-gap: 2.25rem;
       -moz-column-gap: 2.25rem;
            column-gap: 2.25rem;
  }
}

@media (min-width: 76.875em) {
  .createx {
    padding-top: 12.5rem;
  }

  .createx {
    padding-bottom: 5rem;
  }

  .createx__title:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .createx__title {
    font-size: 4rem;
  }

  .content-events__item {
    gap: 2.5rem;
  }

  .item-events {
    padding-top: 2rem;
  }

  .item-events {
    padding-bottom: 2rem;
  }

  .item-events {
    padding-left: 2.5rem;
  }

  .item-events {
    padding-right: 2.5rem;
  }
}

@media (min-width: 78.75em) {
  .block-header__title {
    font-size: 2.875rem;
  }

  .header__container {
    min-height: 5.75rem;
  }

  .who-we-are {
    padding-top: 11.25rem;
  }

  .who-we-are {
    padding-bottom: 5.625rem;
  }

  .who-we-are__block-header:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .featured-courses {
    padding-top: 5.625rem;
  }

  .featured-courses {
    padding-bottom: 5.625rem;
  }

  .featured-courses__top:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .events {
    padding-top: 5rem;
  }

  .events {
    padding-bottom: 5rem;
  }

  .events__top:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .events__content:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .bottom-events {
    gap: 2.5rem;
  }
}

@media (min-width: 48em) {
  .header__actions {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }
}

@media (max-width: 1000px) {
  .createx__statistics {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .statistics__item:not(:last-child)::after {
    display: none;
  }

  .featured-courses__item {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 1fr;
    grid-template-rows: auto 1fr;
  }

  .item-courses__image {
    padding-bottom: 75.666%;
  }

  .item-courses__image img {
    -o-object-position: top;
       object-position: top;
  }

  .item-courses__body {
    padding: 20px;
    gap: 10px;
  }
}

@media (max-width: 48em) {
  .createx {
    padding-top: 6.875rem;
  }

  .createx {
    padding-bottom: 1.875rem;
  }

  .createx__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .createx__title {
    font-size: 2.5rem;
  }

  .content-events__item {
    gap: 1.25rem;
  }

  .item-events {
    padding-top: 1.25rem;
  }

  .item-events {
    padding-bottom: 1.25rem;
  }

  .item-events {
    padding-left: 1.25rem;
  }

  .item-events {
    padding-right: 1.25rem;
  }
}

@media (max-width: 500px) {
  .createx__statistics {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 20em) {
  .block-header__title {
    font-size: 1.875rem;
  }

  .header__container {
    min-height: 3.25rem;
  }

  .header__actions {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .who-we-are {
    padding-top: 1.875rem;
  }

  .who-we-are {
    padding-bottom: 1.875rem;
  }

  .who-we-are__block-header:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .featured-courses {
    padding-top: 1.875rem;
  }

  .featured-courses {
    padding-bottom: 1.875rem;
  }

  .featured-courses__top:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .events {
    padding-top: 1.875rem;
  }

  .events {
    padding-bottom: 1.875rem;
  }

  .events__top:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .events__content:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .bottom-events {
    gap: 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease;
    background-color: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 20px;
    overflow: auto;
    padding: 110px 15px 30px 15px;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 92px;
    background-color: #F4F5F6;
    z-index: 2;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu__item {
    font-size: 32px;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .actions-header__button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .actions-header__login span {
    display: none;
  }

  .actions-header__login::before {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .createx__body {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
        grid-template: 1fr/1fr;
  }

  .createx__image {
    display: -ms-grid;
    display: grid;
    justify-items: center;
  }

  .createx__image img {
    max-width: 100%;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .decor-createx__item--5 {
    display: none;
  }

  .who-we-are__container {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }

  .who-we-are__image {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  .content-events {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .content-events__item {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__body::before {
    height: 4.5rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 34.375em) {
  .featured-courses__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .content-events {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .bottom-events {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 29.99875em) {
  .block-header {
    text-align: center;
  }

  .actions-header__button {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }

  .createx__content {
    display: -ms-grid;
    display: grid;
    justify-items: center;
  }

  .createx__title {
    text-align: center;
  }

  .createx__buttons {
    width: 100%;
  }

  .createx__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .who-we-are__button {
    width: 100%;
  }

  .featured-courses__top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .featured-courses__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (min-width: 20em) and (max-width: 78.75em) {
@supports (font-size: clamp( 1.875rem , 1.5345744681rem  +  1.7021276596vw , 2.875rem )) {
    .block-header__title {
      font-size: clamp( 1.875rem , 1.5345744681rem  +  1.7021276596vw , 2.875rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.5345744681rem  +  1.7021276596vw , 2.875rem )) {
    .block-header__title {
      font-size: calc(1.875rem + 1 * (100vw - 20rem) / 58.75);
    }
}

@supports (min-height: clamp( 3.25rem , 2.3989361702rem  +  4.2553191489vw , 5.75rem )) {
    .header__container {
      min-height: clamp( 3.25rem , 2.3989361702rem  +  4.2553191489vw , 5.75rem );
    }
}

@supports not (min-height: clamp( 3.25rem , 2.3989361702rem  +  4.2553191489vw , 5.75rem )) {
    .header__container {
      min-height: calc(3.25rem + 2.5 * (100vw - 20rem) / 58.75);
    }
}

@supports (padding-top: clamp( 1.875rem , -1.3164893617rem  +  15.9574468085vw , 11.25rem )) {
    .who-we-are {
      padding-top: clamp( 1.875rem , -1.3164893617rem  +  15.9574468085vw , 11.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -1.3164893617rem  +  15.9574468085vw , 11.25rem )) {
    .who-we-are {
      padding-top: calc(1.875rem + 9.375 * (100vw - 20rem) / 58.75);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.5984042553rem  +  6.3829787234vw , 5.625rem )) {
    .who-we-are {
      padding-bottom: clamp( 1.875rem , 0.5984042553rem  +  6.3829787234vw , 5.625rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.5984042553rem  +  6.3829787234vw , 5.625rem )) {
    .who-we-are {
      padding-bottom: calc(1.875rem + 3.75 * (100vw - 20rem) / 58.75);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8244680851rem  +  2.1276595745vw , 2.5rem )) {
    .who-we-are__block-header:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.8244680851rem  +  2.1276595745vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8244680851rem  +  2.1276595745vw , 2.5rem )) {
    .who-we-are__block-header:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 58.75);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.5984042553rem  +  6.3829787234vw , 5.625rem )) {
    .featured-courses {
      padding-top: clamp( 1.875rem , 0.5984042553rem  +  6.3829787234vw , 5.625rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.5984042553rem  +  6.3829787234vw , 5.625rem )) {
    .featured-courses {
      padding-top: calc(1.875rem + 3.75 * (100vw - 20rem) / 58.75);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.5984042553rem  +  6.3829787234vw , 5.625rem )) {
    .featured-courses {
      padding-bottom: clamp( 1.875rem , 0.5984042553rem  +  6.3829787234vw , 5.625rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.5984042553rem  +  6.3829787234vw , 5.625rem )) {
    .featured-courses {
      padding-bottom: calc(1.875rem + 3.75 * (100vw - 20rem) / 58.75);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.2367021277rem  +  3.1914893617vw , 3.75rem )) {
    .featured-courses__top:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.2367021277rem  +  3.1914893617vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.2367021277rem  +  3.1914893617vw , 3.75rem )) {
    .featured-courses__top:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 58.75);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.8111702128rem  +  5.3191489362vw , 5rem )) {
    .events {
      padding-top: clamp( 1.875rem , 0.8111702128rem  +  5.3191489362vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.8111702128rem  +  5.3191489362vw , 5rem )) {
    .events {
      padding-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 58.75);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.8111702128rem  +  5.3191489362vw , 5rem )) {
    .events {
      padding-bottom: clamp( 1.875rem , 0.8111702128rem  +  5.3191489362vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.8111702128rem  +  5.3191489362vw , 5rem )) {
    .events {
      padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 58.75);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.2367021277rem  +  3.1914893617vw , 3.75rem )) {
    .events__top:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.2367021277rem  +  3.1914893617vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.2367021277rem  +  3.1914893617vw , 3.75rem )) {
    .events__top:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 58.75);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.2367021277rem  +  3.1914893617vw , 3.75rem )) {
    .events__content:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.2367021277rem  +  3.1914893617vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.2367021277rem  +  3.1914893617vw , 3.75rem )) {
    .events__content:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 58.75);
    }
}

@supports (gap: clamp( 1.25rem , 0.8244680851rem  +  2.1276595745vw , 2.5rem )) {
    .bottom-events {
      gap: clamp( 1.25rem , 0.8244680851rem  +  2.1276595745vw , 2.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.8244680851rem  +  2.1276595745vw , 2.5rem )) {
    .bottom-events {
      gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 58.75);
    }
}
}

@media (min-width: 47.99875em) and (min-width: 48em) and (max-width: 76.875em) {
@supports ((-moz-column-gap: clamp( 0.9375rem , -3.7378246753rem  +  9.7402597403vw , 3.75rem )) or (column-gap: clamp( 0.9375rem , -3.7378246753rem  +  9.7402597403vw , 3.75rem ))) {
    .header__container {
      -webkit-column-gap: clamp( 0.9375rem , -3.7378246753rem  +  9.7402597403vw , 3.75rem );
         -moz-column-gap: clamp( 0.9375rem , -3.7378246753rem  +  9.7402597403vw , 3.75rem );
              column-gap: clamp( 0.9375rem , -3.7378246753rem  +  9.7402597403vw , 3.75rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -3.7378246753rem  +  9.7402597403vw , 3.75rem )) or (column-gap: clamp( 0.9375rem , -3.7378246753rem  +  9.7402597403vw , 3.75rem ))) {
    .header__container {
      -webkit-column-gap: calc(0.9375rem + 2.8125 * (100vw - 48rem) / 28.875);
         -moz-column-gap: calc(0.9375rem + 2.8125 * (100vw - 48rem) / 28.875);
              column-gap: calc(0.9375rem + 2.8125 * (100vw - 48rem) / 28.875);
    }
}

@supports ((-moz-column-gap: clamp( 0.625rem , -2.0762987013rem  +  5.6277056277vw , 2.25rem )) or (column-gap: clamp( 0.625rem , -2.0762987013rem  +  5.6277056277vw , 2.25rem ))) {
    .header__actions {
      -webkit-column-gap: clamp( 0.625rem , -2.0762987013rem  +  5.6277056277vw , 2.25rem );
         -moz-column-gap: clamp( 0.625rem , -2.0762987013rem  +  5.6277056277vw , 2.25rem );
              column-gap: clamp( 0.625rem , -2.0762987013rem  +  5.6277056277vw , 2.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -2.0762987013rem  +  5.6277056277vw , 2.25rem )) or (column-gap: clamp( 0.625rem , -2.0762987013rem  +  5.6277056277vw , 2.25rem ))) {
    .header__actions {
      -webkit-column-gap: calc(0.625rem + 1.625 * (100vw - 48rem) / 28.875);
         -moz-column-gap: calc(0.625rem + 1.625 * (100vw - 48rem) / 28.875);
              column-gap: calc(0.625rem + 1.625 * (100vw - 48rem) / 28.875);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -1.6599025974rem  +  5.4112554113vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , -1.6599025974rem  +  5.4112554113vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , -1.6599025974rem  +  5.4112554113vw , 2.5rem );
         -moz-column-gap: clamp( 0.9375rem , -1.6599025974rem  +  5.4112554113vw , 2.5rem );
              column-gap: clamp( 0.9375rem , -1.6599025974rem  +  5.4112554113vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -1.6599025974rem  +  5.4112554113vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , -1.6599025974rem  +  5.4112554113vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 1.5625 * (100vw - 48rem) / 28.875);
         -moz-column-gap: calc(0.9375rem + 1.5625 * (100vw - 48rem) / 28.875);
              column-gap: calc(0.9375rem + 1.5625 * (100vw - 48rem) / 28.875);
    }
}
}

@media (min-width: 20em) and (max-width: 48em) {
@supports ((-moz-column-gap: clamp( 0.9375rem , 0.2678571429rem  +  3.3482142857vw , 1.875rem )) or (column-gap: clamp( 0.9375rem , 0.2678571429rem  +  3.3482142857vw , 1.875rem ))) {
    .header__actions {
      -webkit-column-gap: clamp( 0.9375rem , 0.2678571429rem  +  3.3482142857vw , 1.875rem );
         -moz-column-gap: clamp( 0.9375rem , 0.2678571429rem  +  3.3482142857vw , 1.875rem );
              column-gap: clamp( 0.9375rem , 0.2678571429rem  +  3.3482142857vw , 1.875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.2678571429rem  +  3.3482142857vw , 1.875rem )) or (column-gap: clamp( 0.9375rem , 0.2678571429rem  +  3.3482142857vw , 1.875rem ))) {
    .header__actions {
      -webkit-column-gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 28);
         -moz-column-gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 28);
              column-gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 28);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .menu__body::before {
    height: 5.75rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.99875em) {
@supports (height: clamp( 4.5rem , 3.6071029957rem  +  4.4644850217vw , 5.75rem )) {
    .menu__body::before {
      height: clamp( 4.5rem , 3.6071029957rem  +  4.4644850217vw , 5.75rem );
    }
}

@supports not (height: clamp( 4.5rem , 3.6071029957rem  +  4.4644850217vw , 5.75rem )) {
    .menu__body::before {
      height: calc(4.5rem + 1.25 * (100vw - 20rem) / 27.99875);
    }
}
}

@media (min-width: 48em) and (max-width: 76.875em) {
@supports (padding-right: clamp( 0.9375rem , -1.6599025974rem  +  5.4112554113vw , 2.5rem )) {
    .actions-header__button span {
      padding-right: clamp( 0.9375rem , -1.6599025974rem  +  5.4112554113vw , 2.5rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , -1.6599025974rem  +  5.4112554113vw , 2.5rem )) {
    .actions-header__button span {
      padding-right: calc(0.9375rem + 1.5625 * (100vw - 48rem) / 28.875);
    }
}

@supports (padding-left: clamp( 0.9375rem , -1.6599025974rem  +  5.4112554113vw , 2.5rem )) {
    .actions-header__button span {
      padding-left: clamp( 0.9375rem , -1.6599025974rem  +  5.4112554113vw , 2.5rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , -1.6599025974rem  +  5.4112554113vw , 2.5rem )) {
    .actions-header__button span {
      padding-left: calc(0.9375rem + 1.5625 * (100vw - 48rem) / 28.875);
    }
}

@supports (padding-top: clamp( 6.875rem , -2.4756493506rem  +  19.4805194805vw , 12.5rem )) {
    .createx {
      padding-top: clamp( 6.875rem , -2.4756493506rem  +  19.4805194805vw , 12.5rem );
    }
}

@supports not (padding-top: clamp( 6.875rem , -2.4756493506rem  +  19.4805194805vw , 12.5rem )) {
    .createx {
      padding-top: calc(6.875rem + 5.625 * (100vw - 48rem) / 28.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -3.3198051948rem  +  10.8225108225vw , 5rem )) {
    .createx {
      padding-bottom: clamp( 1.875rem , -3.3198051948rem  +  10.8225108225vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -3.3198051948rem  +  10.8225108225vw , 5rem )) {
    .createx {
      padding-bottom: calc(1.875rem + 3.125 * (100vw - 48rem) / 28.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -2.9058441558rem  +  8.658008658vw , 3.75rem )) {
    .createx__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , -2.9058441558rem  +  8.658008658vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -2.9058441558rem  +  8.658008658vw , 3.75rem )) {
    .createx__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 2.5 * (100vw - 48rem) / 28.875);
    }
}

@supports (font-size: clamp( 2.5rem , 0.0064935065rem  +  5.1948051948vw , 4rem )) {
    .createx__title {
      font-size: clamp( 2.5rem , 0.0064935065rem  +  5.1948051948vw , 4rem );
    }
}

@supports not (font-size: clamp( 2.5rem , 0.0064935065rem  +  5.1948051948vw , 4rem )) {
    .createx__title {
      font-size: calc(2.5rem + 1.5 * (100vw - 48rem) / 28.875);
    }
}

@supports (gap: clamp( 1.25rem , -10.6980519481rem  +  24.8917748918vw , 8.4375rem )) {
    .who-we-are__container {
      gap: clamp( 1.25rem , -10.6980519481rem  +  24.8917748918vw , 8.4375rem );
    }
}

@supports not (gap: clamp( 1.25rem , -10.6980519481rem  +  24.8917748918vw , 8.4375rem )) {
    .who-we-are__container {
      gap: calc(1.25rem + 7.1875 * (100vw - 48rem) / 28.875);
    }
}

@supports (gap: clamp( 1.25rem , -0.8279220779rem  +  4.329004329vw , 2.5rem )) {
    .content-events__item {
      gap: clamp( 1.25rem , -0.8279220779rem  +  4.329004329vw , 2.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , -0.8279220779rem  +  4.329004329vw , 2.5rem )) {
    .content-events__item {
      gap: calc(1.25rem + 1.25 * (100vw - 48rem) / 28.875);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.0032467532rem  +  2.5974025974vw , 2rem )) {
    .item-events {
      padding-top: clamp( 1.25rem , 0.0032467532rem  +  2.5974025974vw , 2rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.0032467532rem  +  2.5974025974vw , 2rem )) {
    .item-events {
      padding-top: calc(1.25rem + 0.75 * (100vw - 48rem) / 28.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.0032467532rem  +  2.5974025974vw , 2rem )) {
    .item-events {
      padding-bottom: clamp( 1.25rem , 0.0032467532rem  +  2.5974025974vw , 2rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.0032467532rem  +  2.5974025974vw , 2rem )) {
    .item-events {
      padding-bottom: calc(1.25rem + 0.75 * (100vw - 48rem) / 28.875);
    }
}

@supports (padding-left: clamp( 1.25rem , -0.8279220779rem  +  4.329004329vw , 2.5rem )) {
    .item-events {
      padding-left: clamp( 1.25rem , -0.8279220779rem  +  4.329004329vw , 2.5rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , -0.8279220779rem  +  4.329004329vw , 2.5rem )) {
    .item-events {
      padding-left: calc(1.25rem + 1.25 * (100vw - 48rem) / 28.875);
    }
}

@supports (padding-right: clamp( 1.25rem , -0.8279220779rem  +  4.329004329vw , 2.5rem )) {
    .item-events {
      padding-right: clamp( 1.25rem , -0.8279220779rem  +  4.329004329vw , 2.5rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , -0.8279220779rem  +  4.329004329vw , 2.5rem )) {
    .item-events {
      padding-right: calc(1.25rem + 1.25 * (100vw - 48rem) / 28.875);
    }
}
}

@media (any-hover: hover) {
  .button:hover span::before {
    opacity: 0;
  }

  .button:hover span {
    color: #FF3F3A;
  }

  .button--border span:hover {
    color: #fff;
  }

  .button--border span:hover::before {
    opacity: 1;
  }
}